* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color:#000 ;
    font-family: Helvetica, Arial, sans-serif;
    color: #fffef4;
  }
  h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    font-family: papyrus,fantasy, arial;
    text-decoration: underline;
  }
  h1 :hover{
      color: #eab676;
  }

  h2 {
      font-weight: bold;
      font-size: 40px;
  }
  /*header*/

  header {
    padding: 20px 35px;
    background-color: #000;
    display: flexbox;
    display:  flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }


  header a {
    text-decoration: none;
    color: #fffef4;
  }

  header nav {
    margin: 5px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 35px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  header nav ul li a:hover {
    font-size: 2vw ;
    font-weight: bolder;
    color: #eab676;
    text-shadow: none;
  }

  /*avatar*/

  .avatar {
    width: 400px;
    height: 400px;
    background: url("./images/hero.jpg") no-repeat;
    margin: 70px auto 70px auto;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: solid 8px #eab676;
    display: flex;
    flex-wrap: wrap;
}
.avatar:hover {
    background: url("./images/hover.jpg") no-repeat;
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
}
  
  .primary-heading{
      text-align: center;
      font-weight: bold;
      font-size: larger;
    
  }









